body {
    background: linear-gradient(to right, rgb(96, 147, 205),
            rgb(44, 227, 230))
}

#container {
    position: relative;
    background: url(./clock.png)no-repeat;
    margin: auto;
    background-size: 100%;
    margin-top: 40px;
    height: 41vw;
    width: 40vw;
}


#hour,
#minute,
#second {
    position: absolute;
    background-color: black;

}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 49%;
    transform-origin: bottom;
    opacity: 0.8;
}

#minute {
    width: 1.8%;
    height: 30%;
    top: 21%;
    left: 49%;
    transform-origin: bottom;
    opacity: 0.8;
}

#second {
    transform-origin: bottom;
    width: 1%;
    height: 32%;
    top: 19%;
    left: 49.2%;
    opacity: 0.8;
}